@import '../../styles/settings.scss';

.favorite {
  margin-top: $base-size * 2;
}

.cards {
  list-style: none;
  padding: 0;
}

.noCards {
  text-align: center;
  font-size: ($base-size * 2);
  margin-top: ($base-size * 4);
}